/bin
/obj
/acmeat.domains.menu.dataproxy/bin
/acmeat.domains.menu.dataproxy/obj
/acmeat.domains.menu.datawriter/bin
/acmeat.domains.menu.datawriter/obj
/acmeat.domains.menu.models/bin
/acmeat.domains.menu.models/obj
/acmeat.domains.menu.client/bin
/acmeat.domains.menu.client/obj

