.search-1 {
	width: 50%;
	height: 50px;
	box-shadow: 0px 4px 4px #C0C0C0;
	background: #FFFFFF;
	color:black;
	border-color: #FCB103;
	border-width: 1px;
	border-style: solid;
	border-radius: 32px 32px 32px 32px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;

}