@import url(../../../styles.scss);

.fastfood-icon-1 {
	width: 30px;
	height: 30px;
	background: #fdfdfd;
	margin-bottom: 10px;
}

.title {
	width: 86px;
	height: 33px;
	color: #FCB103;
	font-family: adm;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	margin: 0;
}

.person-icon {
	width: 23px;
	height: 21px;
	background: #000000;
}

.sidemenu-icon {
	background: #ffffff;
}

.login-text {

	color: #232323;
	font-family: adm;
	font-weight: bold;
	font-size: 10px;
	text-align: left;
	margin: auto !important;
}

.header{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}