@import url(../../../styles.scss);

.fastfood-icon-1 {
	width: 24px;
	height: 22px;
	background: #232323;
}

.title {
	width: 86px;
	height: 33px;
	color: #FCB103;
	font-family: adm;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
	text-align: left;
}

.footer{
    background-color: #232323;
	min-height: 30vh;
	overflow: hidden;
}