<div class="filter-box">
    <div>
        <h5>Menu</h5>
    <div>
        <input type="radio" id="carne">
        <label for="carne">Carne</label>
    </div>

    <div>
        <input type="radio" id="pesce">
        <label for="pesce">Pesce</label>
    </div>
    </div>
    <div>
        <h5>Orario</h5>
    <div>
        <input type="radio" id="pranzo">
        <label for="pranzo">Pranzo</label>
    </div>

    <div>
        <input type="radio" id="cena">
        <label for="cena">Cena</label>
    </div>
    </div>
</div>